:root {
    --light-cyan: #8DBDB8;
    --light-gray: #F8F8F8;
}

body {
    height: 100svh;
    background-color: azure;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

section {
    display: flex;
    flex: auto;
}

.sidebar {
    background: var(--light-gray);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit-button {
    height: auto;
    width: auto;
    border: none;
    color: black;
}

.sidebar button {
    border: none;
    background-color: var(--light-cyan);
}

.sidebar div:hover {
    background: var(--light-gray);
    cursor: pointer;
}

.main-section {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    height: 10svh;
    background-color: var(--light-cyan);
}
